@model Pramod.GuestTracker.Web.ViewModels.RegisterAttendanceViewModel

@{
    ViewBag.Title = "View";
}
<div class="text-success ">
    <h3 class="text-center">
        <span class="glyphicon glyphicon-check" style="font-size: 5em; "></span>
        <br/>
        The Guest registration is successful!
    </h3>

</div>


 
